root = "."
tmp_dir = "tmp"

[build]
  cmd = "go build -o ./air_pro/funcode ./cmd/fun_code"
  delay = 1000
  exclude_dir = ["assets", "air","air_pro","api_gateway", "tmp", "vendor", "testdata", "web", "storage","doc"]
  exclude_file = []
  exclude_regex = ["_test.go"]
  exclude_unchanged = false
  follow_symlink = false
  full_bin = "cd air_pro && ./funcode"
  include_dir = []
  include_ext = ["go", "tpl", "tmpl", "html"]
  kill_delay = "0s"
  log = "build-errors.log"
  send_interrupt = false
  stop_on_error = true
  rerun_delay = 1000

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  time = false

[misc]
  clean_on_exit = false
